@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #eeeeee;
  --white-gray: #dddddd;
  --blue: #2a4759;
  --orange: #f79b72;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mywhite: var(--white);
  --color-mywhitegray: var(--white-gray);
  --color-myblue: var(--blue);
  --color-myorange: var(--orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: xx-large;
  color: var(--blue);
  font-weight: bold;
}

h2 {
  font-size: medium;
  color: var(--blue);
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
